<a href="https://colab.research.google.com/github/mcarolfll/Banco-de-Dados/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print("ola mundo")

ola mundo

variáveis em python

In [10]:
nome = "maria"
idade = 17
print("meu nome é", nome, "e tenho", idade, "anos")

meu nome é maria e tenho 17 anos

Entrada de dados

In [11]:
nome = input("Qual o seu nome?")
print("bem-vindo(a)", nome)

Qual o seu nome?carol
bem-vindo(a) carol

estrutura condicional simples if else

In [17]:
nota = int(input("entre com um numero: "))

if nota >= 6:
  print("Aprovado")

else:
  print("Reprovado")

entre com um numero: 10
Aprovado

In [ ]:
v1 = input("Entre com o primeiro número: ")
v1 = int(v1)
v2 = input("Entre com o segundo número: ")
v2 = int(v2)

if v1 > v2:
  print("O maior número é:", v1)
else:
  print("O maior número é:", v2)

Operações matemáticas

In [ ]:
a = 10
b = 5
print("soma", a+b)
print("Subtração", a-b)
print("Multiplicação", a*b)
print("divisão", a/b)